- content_for :note_actions do
  - if can?(current_user, :update_issue, @issue)
    - if @issue.closed?
      = link_to 'Reopen Issue', issue_path(@issue, issue: {state_event: :reopen}, status_only: true), method: :put, class: 'btn btn-grouped btn-reopen js-note-target-reopen', title: 'Reopen Issue'
    - else
      = link_to 'Close Issue', issue_path(@issue, issue: {state_event: :close}, status_only: true), method: :put, class: 'btn btn-grouped btn-close js-note-target-close', title: 'Close Issue'

= render 'shared/show_aside'

.gray-content-block.second-block.oneline-block
  .row
    .col-md-9
      .votes-holder.pull-right
        #votes= render 'votes/votes_block', votable: @issue
      = render "shared/issuable/participants"
    .col-md-3
      .input-group.cross-project-reference
        %span#cross-project-reference.slead.has_tooltip{title: 'Cross-project reference'}
          = cross_project_reference(@project, @issue)
        = clipboard_button(clipboard_target: 'span#cross-project-reference')

.row
  %section.col-md-9
    .voting_notes#notes= render 'projects/notes/notes_with_form'
  %aside.col-md-3
    .issuable-affix
      .context
        = render 'shared/issuable/context', issuable: @issue
